
<mat-card>

<div *ngIf="!uploading">

<input type="file" class="file-input"
        [accept]="requiredFileType"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "Upload a CSV file."}}

    <button  mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>

<p *ngIf="fileName!==''"> As it is a demo, the Bulk Upload functionality is not available at the moment. Ask for a Live Demo!</p>

<button disabled="true" *ngIf="fileName!==''" (click)="upload()" mat-raised-button color="primary"> Upload </button>

</div>

<div class="progress">

    <mat-progress-bar class="progress-bar" mode="determinate"
                      [value]="uploadProgress" *ngIf="uploadProgress">
  
    </mat-progress-bar>
  
    <mat-icon class="cancel-upload" (click)="cancelUpload()" 
              *ngIf="uploadProgress">delete_forever</mat-icon>
  
  </div>

  <div *ngIf="done">

    <mat-icon aria-hidden="false" aria-label="upload-succesful">check_circle</mat-icon>

    <p>Upload Complete!</p>

  </div>

  <div *ngIf="failWarning">

    <mat-icon aria-hidden="false" aria-label="upload-succesful">error_outline</mat-icon>

    <p>Upload Complete with Warnings.</p>
    <mat-nav-list>
      <mat-list-item *ngFor="let line of Message">
         {{line.error}}
      </mat-list-item>
    </mat-nav-list>

  </div>

  <div *ngIf="failedUpload">

    <mat-icon aria-hidden="false" aria-label="upload-succesful">highlight_off</mat-icon>

    <p>Upload Failed.</p>
    <p>Internal Server Error.</p>

  </div>
</mat-card>